transformers
datasets==1.17.0
fairscale==0.4.5
ipython
nltk
tensorboard
tqdm
rouge_score
wandb==0.12.10
sentencepiece==0.1.96
bitsandbytes
accelerate
#english_words
safetensors
torch
# for attention norms
surgeon_pytorch
einops
scikit-learn
lovely_tensors
scikit-learn